<header>
    <div class="container-grid cabecalho">
        <a href="index.html"></a><img class="logo"src="/assets/img/thumb-5f774dc62a140 1.svg" alt="Logo do site Game Mania">
         <nav id="menu" class="menu">
             <a href="#" target="_blank">Consoles</a>
             <a href="#" target="_blank">Desktop</a>
             <a href="#" target="_blank">Notebooks</a>
             <a href="#" target="_blank">Games</a>
             <a href="#" target="_blank">Periféricos</a>
         </nav>
         <a heref="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu"src="/assets/img/bars-solid.svg" alt="Ícone do menu barras"></a>
    </div>
</header>
<main>
    <section class="bannerDecorativo">
        <div class="container-grid">
        </div>
    </section>
    <section class="container-grid banner-texto-promocao">
        <div class="imagem-banner-promocao">
            <a href="#"></a><img src="/assets/img/projeto-gamer-mania-senai/img/asdasdas 1.png" alt="Imagem promoçao 8-bits">   
        </div>
            <div class="container-grid posicao-texto">
                <form class="conteudoTexto">
                    <h1>Concurso 8-bits</h1>
                        <p>Cadastre seu e-mail para concorrer a premios </p>
                        <input id="campo-email" type="email" placeholder="E-mail" required>
                        <button onclick="cadastrarPromocao()">Cadastrar</button>
                </form>
            </div>
    </section>
    <section class="produtos1">
        <div class="container-grid pocisao-produtos">
            <a href="#" target="_blank"></a><img src="/assets/img/headset-300px.jpg" alt="Imagem headset">
            <a href="#" target="_blank"></a><img src="/assets/img/teclado-300x.jpg"alt="Imagem teclado">    
            <a href="#" target="_blank"></a><img src="/assets/img/gabinete-300x.jpg" alt="Imagem gabinete">
               
        </div>
    </section>
    <section class="produtos2">
        <div class="container-grid pocisao-produtos2">
            <a href="#" target="_blank"></a><img src="/assets/img/cadeira-300px.jpg" alt=" Imagem cadeira" >
            <a href="#" target="_blank"></a><img src="/assets/img/mouse-preco-300x.jpg" alt=" Imagem mouse">  
            <a href="#" target="_blank"></a><img src="/assets/img/monitor-300x.jpg" alt="Imagem monitor">    
        </div>
    </section>
    <section class="bannerDecorativo2">
        <div class="container-grid">
        </div>       
<footer>
    <div class="container-grid rodape-info">
        <ul href="#" target="_blank">Fale conosco</ul>
        <ul href="#" target="_blank">Av. São Bento, São Paulo-SP</ul>
        <ul href="#" target="_blank">Promoção 8-bits</ul>
        <ul href="#" target="_blank">Ouvidoria</ul>
        <ul href="#" target="_blank">Linha Retrô</ul>
        <ul href="#" target="_blank">Trabalhe conosco</ul>

        <a href="index.html"></a><img class="logo2"src="/assets/img/thumb-5f774dc62a140 1.svg" alt="Logo do site Game Mania">
    </div>
</footer>